<h2>Call Center Login</h2>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="container">
            <p>Hello, @User.Identity.Name</p>

             <form method="post" asp-action="Logout">
                 <button class="btn btn-danger" type="submit">Logout</button>
             </form>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="container">
            <p>Enter your name to login</p>

            <form method="post" asp-action="Login">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name">
                </div>
                <button class="btn btn-success" type="submit">Log in</button>
            </form>
        </div>
    </div>
}