<div class="row" style="padding-top: 50px">
    <div class="container">
        <p>Hello, @User.Identity.Name</p>

            <form method="post" asp-action="Logout">
                <button class="btn btn-danger" type="submit">Logout</button>
            </form>
    </div>
</div>

<div class="row" style="padding: 5px">
    <div id="app">
        <div class="form-group">
            <form v-on:submit.prevent="addMessage">
                <input type="text" v-model="newMessage">
                <input class="btn btn-default" type="submit" value="Send">
            </form>
            <ul>
                <li v-for="message in messages">{{ message }}</li>
            </ul>
        </div>
        <div class="form-group">
            <form v-on:submit.prevent="join">
                <input class="btn btn-success" type="submit" value="Join">
            </form>
            <form id="users" v-on:submit.prevent="takeBlock">

            </form>
        </div>
        <div class="form-group">
                <form v-on:submit.prevent="takeBlock">
                    <input type="text" v-model="user">
                    <input class="btn btn-success" type="submit" value="Take Block">
                </form>
            {{ msg }}
        </div>
    </div>
</div>
<div id="blocks" class="container" style="height: 500px">

</div>
<div class="row">
    <div class="col-lg-12">
        <form action="/CallCenter/Dial">
        <div class="panel panel-primary col-lg-6 col-lg-offset-3">
            <div class="panel-heading">
                <h1>Phone Pad</h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="btn col-lg-4">
                        <h2>1</h2>
                    </div>
                    <div class="btn col-lg-4">
                        <h2>2</h2>
                    </div>
                    <div class="btn col-lg-4">
                        <h2>3</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="btn col-lg-4">
                        <h2>4</h2>
                    </div>
                    <div class="btn col-lg-4">
                        <h2>5</h2>
                    </div>
                    <div class="btn col-lg-4">
                        <h2>6</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="btn col-lg-4">
                        <h2>7</h2>
                    </div>
                    <div class="btn col-lg-4">
                        <h2>8</h2>
                    </div>
                    <div class="btn col-lg-4">
                        <h2>9</h2>
                    </div>      
                </div>
                <div class="row">
                    <div class="btn col-lg-4 col-lg-offset-4">
                        <h1>0</h1>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-6 col-lg-offset-3">
                            <div class="col-lg-6">
                                <button class="btn btn-lg btn-success" type="submit">Dial</button>
                            </div>
                            <div class="col-lg-6">
                                <button class="btn btn-lg btn-danger">End</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/vue/dist/vue.js"></script>

<script>
    (async function (){
        
        const connection = new signalR.HubConnectionBuilder().withUrl("/calls").build()
        const app = new Vue({
            el: "#app",
            data:{
                messages: [],
                newMessage: null,
                user: null,
                msg: null
            },
            methods:{
                async addMessage(){
                    await connection.invoke("Send", this.newMessage)
                    this.newMessage = null
                },
                async join(){
                    await connection.invoke("Join", "@User.Identity.Name")
                },
                async takeBlock(){
                    await connection.invoke("TakeBlock", this.user)
                }
            }
        })

        connection.on("Send", message => {
            app.messages.push(message)
        })

        connection.on("AddUserList", message => {
            var string = "<input class=\"btn btn-default\" type=\"text\" disabled style=\"margin: 2px\" value=\"" + message + "\" >"
            $("#users").append(string)
        })

        connection.on("TakeBlock", message =>{
            app.msg = message
            $("#blocks").find("div:first").remove()
        })

        await connection.start()
    })()

    $(document).ready(function(){
        var i = 12

        while(i > 0){
           $("#blocks").append('<div class="col-lg-4" style="background-color: purple; height: 50px; margin: 2px">')
           i--
        }
    })
</script>